<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/cve_logo.ico" type="image/x-icon" />
    <title>CVE Engine</title> <!-- CAG's Virtual Environment(CVE) || CAG's Engine -->
    <link href="/css/index.css" rel="stylesheet">
    <script defer src="/js/engine.js"></script>
</head>
<body class="w-full h-[100vh] bg-3DE-primary-light">
    <div class="w-full h-full flex justify-center items-center">
            <canvas class="ring-2 ring-3DE-canvas-border" id="canvas" width="500" height="500"></canvas>
    </div>
</body>
</html>
